body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #222;
  font-size: 16px;
  line-height: 1.4;
}

.hidden {
  display: none !important;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 0.3s ease;
  letter-spacing: 0.05em;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
  position: relative;
  gap: 10px;
}

.button .icon {
  width: 22px;
  height: 22px;
  display: inline-block;
}

.button .icon svg {
  width: 100%;
  height: 100%;
}

.button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  transition: all 0.3s ease;
  z-index: 2;
}

.button:hover:after {
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.75);
}

.button--small {
  font-size: 14px;
  padding: 8px;
  text-transform: lowercase;
}

.button--full {
  width: 100%;
  display: flex;
}

.button--radio input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.button--radio label {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.button--radio svg {
  width: 22px;
  height: 22px;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.textarea-placeholder {
  border: none;
  display: block;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  height: 50px;
}

.link {
  text-decoration: underline;
  font-size: 90%;
}

.link:hover {
  text-decoration: none;
}

.button--danger {
  background-color: #dc3545;
  color: white;
}

.button--danger:hover {
  background-color: #c82333;
}
