.settings {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  z-index: 2;
}

.settings__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
}

.settings__field input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.settings .text {
  display: block;
  margin: 5px 0;
  text-transform: uppercase;
  font-size: 14px;
}

.settings .switch {
  display: block;
  width: 70px;
  height: 32px;
  border-radius: 20px;
  border: 2px solid;
  background: #ccc;
  font-size: 0;
  line-height: 0;
  padding: 1px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.settings .tick:before {
  content: "";
  width: 27px;
  height: 27px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(1px);
  transition: all 0.3s;
  z-index: 2;
}

.settings .switch .tick {
  height: 100%;
  width: 100%;
  background: #007bff;
  position: absolute;
  top: 0;
  right: 100%;
  transition: all 0.3s;
  border-radius: 20px;
  transform: translateX(26px);
}

.settings input:checked ~ .switch .tick {
  right: 0;
  transform: translateX(0);
}

.settings__details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  position: fixed;
  top: 30px;
  right: 30px;
}

.settings__details summary {
  cursor: pointer;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  border: none;
  background: none;
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;

  position: absolute;
  top: 0;
  right: 0;
}

.settings__details summary::-webkit-details-marker {
  display: none;
}

.settings__details summary svg {
  width: 44px;
  height: 44px;
  transition: transform 0.3s;
}

.settings__details[open] summary svg {
  transform: rotate(180deg);
}

.radio-group {
  gap: 10px 30px;
  position: absolute;
  top: 50px;
  right: 0;
  width: 240px;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
}

.radio {
  cursor: pointer;
  position: relative;
}

.radio input {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

.radio input,
.radio label {
  cursor: pointer;
}

.radio label {
  opacity: 0.5;
}

.radio input:checked ~ label {
  opacity: 1;
}

.list-buttons {
  display: block;
}

.list-buttons:not(:last-child) {
  margin-bottom: 30px;
}

.list-buttons li {
  display: block;
  margin: 10px 0;
}

.list-buttons li:last-child {
  margin-top: 20px;
}

.radio__button {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 5px 10px;
}

.radio__button span:not(.icon) {
  flex-grow: 1;
}

.radio__button .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 3px;
  border-radius: 50%;
  border: 2px solid currentColor;
  padding: 2px;
}

.radio__button svg {
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  height: auto;
}

.radio input:checked ~ label svg {
  opacity: 1;
}
